.containerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  /* padding-top: 300px; */
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.formInput {
  width: 680px;
  height: 46px;
  background-color: #ccd0cf;
  border: none;
  border: 2px solid #9ba8ab;
  border-radius: 100px;
  outline: none;
  color: #06141b;
  font-size: 24px;
}

.formInput:focus {
  border: 2px solid #ccd0cf;
}

.formButton {
  background-color: #9ba8ab;
  border: none;
  border-radius: 100px;
  width: 100px;
  color: #06141b;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:hover,
.formButton:focus {
  background-color: #ccd0cf;
}
